package templ_componets

import "iter"
import "github.com/disgoorg/disgolink/v3/lavalink"

script handleEnqueue() {
	$identifier = el.dataset.identifier
	@post('/api/enqueue')
	$identifier = ''
}

templ HistoryStatus[T iter.Seq2[int, lavalink.Track]](tracks_iter T) {
	for _, track := range tracks_iter {
		<li class="list-row">
			<div>
				<img
					class="mask mask-squircle size-10 object-cover object-center"
					src={ *track.Info.ArtworkURL }
				/>
			</div>

			<div>
				<div>{ track.Info.Author }</div>
				<div class="text-xs uppercase font-semibold opacity-60">
					{ track.Info.Title }
				</div>
			</div>

			<button
				class="btn btn-ghost btn-warning"
				data-identifier={ *track.Info.URI }
				data-on:click={ handleEnqueue() }
			>
				Enqueue
			</button>
		</li>
	}
}
